@import "tailwindcss";

/* Custom Styles for Atharv's Portfolio */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* Dark Slate background */
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}

/* Smooth Scrolling for nav links */
html {
  scroll-behavior: smooth;
}